<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soft-Res It</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <button class="new-user" id="new-user">Soft-Reserve or Join</button>

    <form action="/createSR" method="POST" id="softres-form">
        <label for="username">Character Name:</label>
        <input type="text" name="username" id="username" />
        <label for="note">Note:</label>
        <input type="text" name="note" id="note" />
        <label for="class">Class:</label>
        <select disabled name="class" id="class">
            <option hidden selected value=""></option>
            <option value="druid">Druid</option>
            <option value="hunter">Hunter</option>
            <option value="mage">Mage</option>
            <option value="paladin">Paladin</option>
            <option value="priest">Priest</option>
            <option value="rogue">Rogue</option>
            <option value="warlock">Warlock</option>
            <option value="warrior">Warrior</option>
        </select>

        <label for="spec">Specialization:</label>
        <select disabled name="spec" id="spec">
            <option hidden selected value=""></option>
            <option class="druid spec" value="restoration">Restoration</option>
            <option class="druid spec" value="bear">Bear</option>
            <option class="druid spec" value="feral">Feral</option>
            <option class="druid spec" value="balance">Balance</option>

            <option class="hunter spec" value="marksmanship">Marksmanship</option>
            <option class="hunter spec" value="beastmastery">Beast Mastery</option>
            <option class="hunter spec" value="survival">Survival</option>
            
            <option class="mage spec" value="frost">Frost</option>
            <option class="mage spec" value="fire">Fire</option>
            <option class="mage spec" value="arcane">Arcane</option>

            <option class="paladin spec" value="protectionpala">Protection</option>
            <option class="paladin spec" value="retribution">Retribution</option>
            <option class="paladin spec" value="holypala">Holy</option>

            <option class="priest spec" value="holy">Holy</option>
            <option class="priest spec" value="discipline">Discipline</option>
            <option class="priest spec" value="shadow">Shadow</option>

            <option class="rogue spec" value="swords">Swords</option>
            <option class="rogue spec" value="daggers">Daggers</option>
            <option class="rogue spec" value="maces">Maces</option>

            <option class="warlock spec" value="affliction">Affliction</option>
            <option class="warlock spec" value="demonology">Demonology</option>
            <option class="warlock spec" value="destruction">Destruction</option>

            <option class="warrior spec" value="fury">Fury</option>
            <option class="warrior spec" value="protection">Protection</option>
            <option class="warrior spec" value="arms">Arms</option>

        </select>

        <label for="softresd">Soft-Reserve: 0 of 2</label>
        <select disabled name="softresd" id="softresd">
            <option hidden selected value=""></option>
            <% for(item of items) { %>
                <option class="item" value="<%=item._id%>"><%=item.name%></option>
            <% } %>
        </select>
        <button disabled type="submit">Soft-Reserve</button>
    </form>
    <table class="user-table">
        <thead>
            <tr class="table-info">
                <th>Username</th>
                <th>Class</th>
                <th>Items</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody class="rows">
            <% for(user of users) { %>
                <tr id="<%=user._id%>">
                    <td><%=user.username %></td>
                    <td><%=user.class%></td>
                    <td><%=user.softresd[0]%><br><%=user.softresd[1]%></td>
                    <td>
                        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                        <form action="/users/<%=user._id%>/edit" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <table class="item-table">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th>Slot</th>
                <th>ilvl</th>                  
                <th>From</th>
                <th>Soft-reservers</th>
                </tr>
        </thead>
        <tbody class="rows">
            <% for(item of items) { %>
                <tr id="<%=item._id%>">
                    <td><%=item.name%></td>
                    <td><%=item.slot%></td>
                    <td><%=item.ilvl%></td>
                    <td><%=item.from%></td>
                    <% for(user of item.softresdby) {%>
                    <td><%=user%></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>