<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Soft-Res'></title>
</head>
<body>
    <ul>
        <li>Name: <%=user.username%></li>
        <li>Note: <%=user.note%></li>
        <li>Class: <%=user.class%></li>
        <li>Spec: <%=user.spec%></li>
        <li>Soft-Res: <%=user.softresd%></li>
    </ul>
</body>
</html>